.webuploader-container {
	position: relative;
}

.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #6b6a6a;
	padding: 8px 10px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}

.webuploader-pick-hover {
	background: #101010;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events: none;
}

/***************************自定义样式***************************/
#picker {
	display: inline-block;
	line-height: 1.428571429;
	vertical-align: middle;
	margin: 0 12px 0 0;
}
.picker-file-show {
	display: inline-block;
}